@{
    ViewBag.Title = "Home Page";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" ng-app="html-tag-parser">
    <div ng-controller="TabsDemoCtrl" style="width:100%">
       
        <uib-tabset active="active">
            <uib-tab index="0" heading="Html">
                <div >
                    <textarea rows="4" ng-model="htmlText" cols="150"></textarea>
                </div>
              
            </uib-tab>
            <uib-tab index="1" heading="Preview" select="renderPreview()" >
                <bs-html-preview content="htmlText"></bs-html-preview>
            </uib-tab>

        </uib-tabset>
     
        
     
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
<script src="~/Js/app.js"></script>
<script src="~/Js/TabController.js"></script>
<script src="~/Js/htmlPrview.directive.js"></script>